header {
  background-color: var(--backgruond);
  color: var(--text-shallow);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
}
header svg {
  color: var(--text-shallow);
}
.header_wrap {
  max-width: 1280px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.header_left {
  display: flex;
  align-items: center;
  gap: 4rem;
  flex: 1;
}
.logo {
  font-size: 1.5rem;
  color: #00bca1;
}

.menu_lists {
  font-size: 1.3rem;
  display: flex;
  gap: 0.5rem;
}
.menu_lists a {
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  color: var(--text-shallow);
}
.menu_lists a.current_menu {
  background-color: #00bca1;
  color: #b6edbd;
}
.header_right {
  display: flex;
  gap: 1rem;
}
.colorMode_btn,
.menu_btn {
  width: 24px;
  height: 24px;
}
.colorMode_btn svg,
.menu_btn svg {
  width: 100%;
  height: 100%;
}
.menu_btn {
  display: none;
}

.mobile_menu {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--text-shallow);
}

@media screen and (max-width: 767px) {
  .menu_btn {
    display: block;
  }
  .menu {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .mobile_menu {
    display: none;
  }
}
