@import url("./reset.css");
@font-face {
  font-family: "CookieRun Regular";
  src: url("./fonts/CookieRunFont_OTF/CookieRun_Regular.otf");
}
@font-face {
  font-family: "CookieRun Bold";
  src: url("./fonts/CookieRunFont_OTF/CookieRun_Bold.otf");
}
:root {
  --header-text: #6b7280;
  --backgruond: #f9fafb;
  --backgruond-reverse: #232323;
  --background-deep: #f3f4f6;
  --carousel_nav: rgba(0, 188, 161, 0.3);
  --text: #000000;
  --text-reverse: #ffffff;
  --background-live: #f9fafb;
  --background-subpage: #f3f4f6;
}
.dark {
  --header-text: #bbbbbb;
  --backgruond: #232323;
  --backgruond-reverse: #f9fafb;
  --background-deep: #191919;
  --carousel_nav: #424242;
  --text: #ffffff;
  --text-reverse: #000000;
  --background-live: #1b1b1b;
  --background-subpage: #323232;
}
body {
  font-family: "CookieRun Regular", sans-serif;
  padding-top: 80px;
  background-color: var(--backgruond);
  min-height: 100vh;
  position: relative;
  padding-bottom: 200px;
}
.fb {
  font-family: "CookieRun Bold";
}
.container {
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  max-width: 1280px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  display: inline-block;
}
.subpage {
  background-color: var(--background-subpage);
}
.last_section {
  padding-bottom: 6.5rem;
}
