.video_container {
  margin-top: 4rem;
  color: var(--text);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 6.5rem;
}
.video_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 12.5rem));
  justify-content: center;
  gap: 2rem 0.5rem;
}

.line {
  width: 100%;
  background-color: var(--text);
  height: 1px;
  border-radius: 1px;
}

@media screen and (max-width: 767px) {
  .video_grid {
    justify-content: center;
  }
}
