.activity {
  width: 100%;
  background-color: var(--background-deep);
}
.activity_container {
  padding-top: 2.5rem;
  color: var(--text);
  display: flex;
  justify-content: space-between;
}
.video {
  height: 20rem;
  position: relative;
}
.video_wrap {
  display: flex;
  gap: 0.5rem;
  width: calc(200px * 4 + 0.5rem * 3);
  overflow: scroll;
}
.video_wrap::-webkit-scrollbar {
  display: none;
}

.video_link {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  color: var(--text);
}

.live {
  width: 25rem;
  height: 20rem;
  background-color: var(--background-live);
  border-radius: 2rem;
  padding: 1rem 2rem;
}
.live_wrap {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.live_top {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.live_bottom {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
}
.live_item {
  width: 10rem;
  height: 2.75rem;
  background-color: var(--background-deep);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem;
  color: var(--text);
}
.live_profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
}
.live_info {
  font-size: 0.8rem;
  margin-right: 0.25rem;
}
.on_line {
  color: #fff;
}
.off_line {
  color: #666666;
}
.soop_icon {
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid #232323;
}
.soop_icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
