.video_item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 12.5rem;
}
.video_item > .thumbnail {
  width: 12.5rem;
  height: 112.5px;
  background-color: white;
  border-radius: 0.5rem;
}
.owner {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.profile {
  width: 2rem;
  height: 2rem;
}
.profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.upload_info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.upload_title {
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.upload_time {
  font-size: 0.8rem;
}
.video_item_link {
  color: var(--text);
  transition: color 0.2s ease;
  width: 12.5rem;
}
.video_item_link:hover {
  color: #00bca1;
}
.video_item_link:hover .video_item img {
  border: 0.25rem solid #00bca1;
}
