.circle_container {
  height: calc(100vh - 280px);
  display: flex;
  justify-content: center;
}
.circle_container.shifted {
  height: 100%;
  align-items: flex-start;
}
.circle_wrap {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: margin 0.3s ease;
}
.circle_wrap.shifted {
  position: relative;
  top: 7rem;
  margin-top: 1rem;
  padding-bottom: 7rem;
  gap: 0.5rem;
}
.circle {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.circle.visible {
  opacity: 1;
  transform: translateY(0);
}
.circle:hover {
  transform: scale(1.1);
}
.circle img {
  width: 100%;
  height: 100%;
}
.circle.active {
  width: 8rem;
  height: 8rem;
}
@media screen and (max-width: 768px) {
  .circle {
    width: 3rem;
    height: 3rem;
  }
  .circle.active {
    width: 6rem;
    height: 6rem;
  }
}
